body {
    font-family: sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.0;
    color: #1D85D5;
    background-color: #fff;
    overflow-x: hidden !important;
}
#excuse{
	display: none;
}