.wrap{
	overflow: hidden;
	margin-right: -40px !important;
}
.content_wrapper{
	margin-top: 20vh;
}
.paragraph-1{
	font-size: 30px;
	color:  #007bff;
	font-family: 'Avenir-heavy';
	white-space: nowrap;
}
.paragraph-2{
	font-size: 18px;
	color: #707070;
	line-height: 25px;
	font-family: Avenir-Light;
	white-space: nowrap;
}
.get-started{
	font-family: 'Avenir-Black';
	font-size: 16px;
	-webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	background-color: #1D85D5;
	border: 2px solid #1D85D5;
}
.get-started:hover{
	font-family: 'Avenir-Black';
	font-size: 16px;
	-webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	background-color: transparent;
	border: 2px solid #1D85D5;
	color: #1D85D5;
}
/******* CSS for the images grid ********/
#grid {
    height: calc(100vh - 70px) !important;
    width: 680px;
    float: right;
    overflow: hidden;
}

.item {
    width: 190px;
    height: 60px;
    float: right;
    margin: 5px;
    border-radius: 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item.h2 {
    /*height: 465px;*/
    height: 62.78%;
}

.item.h3 {
    /*height: 232px;*/
    height: 31.39%;
}

.item.h4 {
    /*height: 67px;*/
    height: 9.06%;

}

.item.h5 {
    /*height: 330px;*/
    height: 44.65%;
    width: 34px;
}

.item.h6 {
    /*height: 330px;*/
    height: 44.65%;
}

.item.h7 {
    /*height: 275px;*/
    height: 37.212%;
    background-image: url(../img/941104_10151639697462822_2020897575_n-3-e1498074879180.png);
    background-size: 100% 100%;
}

.item.h8 {
    /*height: 164px;*/
    height: 22.19%;
    background-image: url(../img/941104_10151639697462822_2020897575_n-3-e1498074879180.png);
    background-size: 100% 100%;
}

.item.h9 {
    /*height: 67px;*/
    height: 9.06%;
    width: 34px;
    background-image: url(../img/941104_10151639697462822_2020897575_n-3-e1498074879180.png);

}
.moment-ha-long-img{
	background-image: url(../img/moment-ha-long-bay%402x.png);
	margin-top: -5px;
	background-size: auto 100%;
}
.fixedw-large-img{
	background-image: url(../img/fixedw_large_4x.png);
}
.img-title{
	     position: absolute;
	    top: 0;
	    color: #f1f1f1;
	    width: 100%;
	    padding: 10px;
	    border-top-right-radius: 4px;
	    border-top-left-radius: 4px;
	    font-size: 14px;
	    font-family: 'Avenir Black';
	    line-height: 16px;
}
.img-link{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 12px;
	font-family:Avenir-Medium; 
	padding: 4px 7px;
	background: #178CE5; /* Fallback color */
	background: #178CE5; 
	text-decoration: none;
	border-radius: 3px;
	color: white;
}
.img-link:hover{
	color: white;
	text-decoration: none
}
.img-link>img{
	width: 16%;
	padding-bottom: 2px;
}
.img-link-white{
	position: absolute;
	bottom: 25px;
	right: 10px;
	font-size: 12px;
	font-family:Avenir-Medium; 
	padding: 4px 7px;
	background: #fff;
	color: #178CE5;
	opacity: 05;
	text-decoration: none;
	border-radius: 3px;
}
.img-link-white:hover{
	color: #178CE5;
	text-decoration: none
}
.img-link-white>img{
	width: 18%;
	padding-bottom: 2px;
}
/*Section 02*/
#section-two{
	position: relative;
	height: 100%;
}
#section-two>img{
	width:50%;
}
.detailed-img{
	width: 81%;
}
@media only screen  and (min-width : 1400px) {
#grid {
    height: 95vh !important;
    width: 1000px;
    float: right;
    /*padding: 5px;*/
    overflow: hidden;
}
.item {
    width: 300px;
    height: 60px;
    float: right;
    margin: 5px;
    border-radius: 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-link-white{
	position: absolute;
	bottom: 60px;
	right: 10px;
	font-size: 10px;
	font-family:Avenir-Medium; 
	padding: 4px 7px;
	background: #fff;
	color: #178CE5;
	opacity: 05;
	text-decoration: none;
	border-radius: 3px;
}
.paragraph-1 {
    font-size: 35px;
    color: #007bff;
    font-family: 'Avenir LT Std 55 Roman';
    white-space: nowrap;
}
.paragraph-2 {
    font-size: 21px;
    color: #707070;
    line-height: 27px;
    font-family: Avenir-Light;
    white-space: nowrap;
}
.img-title{
	 position: absolute; /* Position the background text */
	 top: 0; /* At the bottom. Use top:0 to append it to the top */
	 color: #f1f1f1; /* Grey text */
	 width: 100%; /* Full width */
	 padding: 18px; /* Some padding */
	 border-top-right-radius: 4px;
     border-top-left-radius: 4px;
	 font-size: 14px;
	 font-family: 'Avenir Black';
}
.img-link{
	position: absolute;
	bottom: 20px;
	right: 10px;
	font-size: 15px;
	font-family: Avenir-Medium;
	padding: 7px 7px;
	background: #178CE5; /* Fallback color */
	text-decoration: none;
	border-radius: 3px;
	color: white;
}
.img-link>img{
	width: 12%;
	padding-bottom: 2px;
}
.img-link-white{
	position: absolute;
	bottom: 55px;
	right: 10px;
	font-size: 15px;
	font-family: Avenir-Medium;
	padding: 7px 7px;
	background: #fff;
	color: #178CE5;
	opacity: 05;
	text-decoration: none;
	border-radius: 3px;
}
.img-link-white>img{
	width: 12%;
	padding-bottom: 2px;
}
.img-title {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
    padding: 18px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 17px;
    font-family: 'Avenir Black';
}
.item.h7 {
    height: 275px;
    height: 38.212%;
    background-image: url(../img/941104_10151639697462822_2020897575_n-3-e1498074879180.png);
    background-size: 100% 100%;
}
}