/*======================= woff fonts =====================================*/

@font-face {
font-family: 'Avenir-Black';
font-style: normal;
font-weight: normal;
src: local('Avenir-Black'), url('Avenir-Black.woff') format('woff');
}


@font-face {
font-family: 'Avenir-Medium';
font-style: normal;
font-weight: normal;
src: local('Avenir-Medium'), url('Avenir-Medium.woff') format('woff');
}


@font-face {
font-family: 'Avenir-Light';
font-style: normal;
font-weight: normal;
src: local('Avenir-Light'), url('Avenir-Light.woff') format('woff');
}
@font-face {
font-family: 'Avenir-Heavy';
font-style: normal;
font-weight: normal;
src: local('Avenir-Heavy'), url('Avenir-Heavy.woff') format('woff');
}


/*======================= ttf fonts ==========================*/

@font-face {
font-family: 'Avenir-Black';
font-style: normal;
font-weight: normal;
src: local('Avenir-Black'), url('Avenir-Black.ttf') format('ttf');
}
@font-face {
font-family: 'Avenir-Medium';
font-style: normal;
font-weight: normal;
src: local('Avenir-Medium'), url('Avenir-Medium.ttf') format('ttf');
}
@font-face {
font-family: 'Avenir-Light';
font-style: normal;
font-weight: normal;
src: local('Avenir-Light'), url('Avenir-Light.ttf') format('ttf');
}
@font-face {
font-family: 'Avenir-Heavy';
font-style: normal;
font-weight: normal;
src: local('Avenir-Heavy'), url('Avenir-Heavy.ttf') format('ttf');
}